
.header{
    padding: 10px;
    background-color:grey;
    text-align: center;
    color: beige;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    text-align: left;
    display:flex;
    align-items: stretch;
}
.header_text{
    align-items:left;
}

.header_text h1{
    margin-top: 8%;
    letter-spacing: 0.1em;
}

.header_text h5{
    margin-top: 2%;
    letter-spacing: 0.1em;
}

.navbar ul {
    list-style-type: none;
    position:relative;
    align-content: right;
    padding: 0px;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    align-items: baseline;
    align-items: flex-end;
    padding: 15px;
    margin-bottom:0%;
    
}

.navbar ul li{
    float: left;
    align-items:baseline;
    align-items: flex-end;
    border: solid 1px;
    border-color:darkgray;
    border-radius: 30%;
    text-decoration-color:black;
    vertical-align: bottom;
}
  
.navbar ul li a{
    display: inline-block;
    padding: 5px;
    border-radius: 30%;
    background-color: #dddddd;
    text-decoration:none;
    text-decoration-color: black;
    align-items: baseline;
    align-items: flex-end; 
    justify-content: space-between;
  }


 .navbar ul li a:hover {
    background-color:beige ;
    text-decoration-color:darkblue;
    transition-duration: .5s;
    color: white;
    text-shadow: 2px 2px 2px black, 0 0 20px skyblue, 0 0 20px beige;

}

.mainsection{
    font-size: 50px;
    background: rgb(94, 194, 228);
    padding: 100px;
    /*delete this when you want*/
}

.footer{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    background:lightgrey;
    justify-content:space-between;
}

.footer1{

}

.footer2 ul{
    list-style-type: none;
}

.footer3{

}

.social_media{
    height:150px;
    width:250px;
}