body {
    padding: 30px;
    background-image: url("images/background.png");
}

#question {
    font-size: 36px;
    text-align: center;
    float: none;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.choice1-container {
    background-color: rgba(248, 246, 246, 0.3);
    padding: 30px;
    top: 50%;
    float: left;
    width: 96.5%;
}

.question {
    font-size: 36px;
    text-align: center;
    float: none;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.choice-container {
    background-color: rgba(248, 246, 246, 0.3);
    padding: 30px;
    float: left;
}

.choiceA,
.choiceB {
    float: left;
    font-size: 48px;
    text-align: center;
    margin: 50px;
    margin-left: 10%;
    height: 200px;
    width: 30%;
    font-family: 'Varela Round', sans-serif;
}

.choiceC,
.choiceD {
    float: left;
    font-size: 48px;
    text-align: center;
    margin: 50px;
    margin-left: 10%;
    margin-top: 0px;
    height: 200px;
    width: 30%;
    font-family: 'Varela Round', sans-serif;
}

.choiceA:hover,
.choiceB:hover,
.choiceC:hover,
.choiceD:hover {
    background-color: #F2BB13;
    color: white;
    cursor: pointer;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.link {
    color: #181926;
    text-decoration:none;
}

.options {
    font-size: 50%;
}

.Police {
    position: absolute;
    right: 5%;
    top: 45%;
}

.policeLogo {
    height: 80%;
    width: 80%;
}

.result-container {
    background-color: rgba(248, 246, 246, 0.3);
    padding: 30px;
    height: 100%;
    width: auto;
}

.text-container {
    border: 5px solid black;
    padding: 30px;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin: 100px;
    position: absolute;
    top: 5%;
    margin-left: 30%;
}

.text {
    font-size: 60px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.startAgain {
    font-size: 52px;
    text-align: center;
    border-radius: 50%;
    height: 40%;
    width: 30%;
    cursor: pointer;
    margin: 0;
    position: absolute;
    left: 35%;
    top: 55%;
    font-family: 'Varela Round', sans-serif;
    color: #181926;
}

.startAgain:hover {
    background-color: #F2BB13;
    color:  white;
    cursor: pointer;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.PoliceOnLeft {
    left: 5%;
    margin: 100px;
    margin-bottom: 200px;
}

.policeLogoOnLeft {
    height: 400px;
    width: 250px;
}

.content-container {
    border: 5px solid black;
    padding: 30px;
    position: absolute;
    margin-left: 30%;
    height: 50%;
    width: 50%;
    top: 10%;
}

.PoliceOnLeftSmaller {
    left: 5%;
    margin: 100px;
    margin-top: 17%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.policeLogoOnLeftSmaller {
    height: 400px;
    width: 250px;
}

.result {
    font-size: 30px;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.next {
    font-size: 52px;
    text-align: center;
    height: 20%;
    width: 30%;
    cursor: pointer;
    margin: 0;
    position: absolute;
    left: 60%;
    top: 70%;
    font-family: 'Varela Round', sans-serif;
    color: #181926;
}

.next:hover {
    background-color: #F2BB13;
    color: white;
    cursor: pointer;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}